#ftr {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 5%;
    
}

.footer {
    background-color: #3e677e;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;

    
}

